@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #02021E;
  --foreground: #171717;
  --color-1: #3827C7;
  --color-2:#FDC448;
  --color-3:#F5F5F7;
  --color-4:#D7D7DF;
  --white: #ffffff;

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #02021E;
    --foreground: #ffffff;
  }
}

*{
    scroll-behavior: smooth;
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;

}


.btn {
  @apply p-3 pl-5 pr-5 rounded-full cursor-pointer border border-transparent
}

.btn--primary {
  @apply bg-[var(--color-1)] font-[400] duration-100
}

.btn--secondary {
  @apply bg-[var(--color-2)] font-[400] duration-100 
}

.btn--secondary:hover {
  @apply text-[var(--color-2)] bg-[var(--background)] border border-[var(--color-2)]
}

.btn--primary:hover{
  @apply text-[var(--color-1)] bg-[white]
}


.btn--outline {
  @apply border-[2px] border-white
}

.btn--unusual {
   @apply bg-[var(--background)] font-[400] duration-100 text-[var(--color-2)]
}

.btn--unusual:hover{
  @apply bg-[var(--color-2)] border border-[var(--background)] text-[var(--background)]
}

.page-header {
width: 100%;
}

.page-header.is-sticky {
  position: fixed;
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.1);
  padding: 2em, 0em;
  /* backdrop-filter: blur(10px); */
  background: #02021e2c;
  animation: slideDown 0.35s ease-out;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.474);
  backdrop-filter: blur(50px); 
  -webkit-backdrop-filter: blur(50px); 
}

html {
  scroll-behavior: smooth; /* Enables smooth scrolling */
}


.page-header.is-sticky img {
  max-width: 80%;
}

.page-header.is-sticky button {
  font-size: 14px;
  padding: 7px 10px;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}


.swiper-pagination-bullet-active{
  width: 30px !important;
  border-radius: 10px !important;
  background-color: var(--color-1) !important;
}


@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.moving-text {
  display: flex;
}

.moving-text h1 {
  display: inline-block;
  white-space: nowrap;
  animation: marquee 20s linear infinite;
}
